html{
  min-width: 1000px;
  background-color: #141414;
}
@keyframes scaling {

  0%,
  100% {
    transform: scale(0.2);
    background-color: #30FFB7;
  }

  40% {
    transform: scale(1);
    background-color: #07DEFF;
  }

  50% {
    transform: scale(1);
    background-color: #0761FF;
  }
}

.wrap {
  height: 100vh;
}

.wrap .header {
  display: flex;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/main_back.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
}

.wrap .header .header--main .header--title {
  background-image: url(/images/title.png);
  background-size: 100%;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.wrap .header .header--main .header--maintext {
  position: absolute;
  color: #fff;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.wrap .header .search{
  position: absolute;
  display: flex;
  width: 100%;
  text-align: center;
  bottom: 20%;
  height: 15%;
  justify-content: center;
}
.wrap .header .search .search--select{
  border: 2px solid red;
  border-radius: 15px;
  width: 8%;
  margin-right: 10px;
}

.wrap .header .search .search--input {
  border: 2px solid red;
  border-radius: 15px;
  width: 15%;
  margin-right: 30px;
  transition: 1.0s;
  cursor: pointer;
}

.wrap .header .search .search--input:focus,
.wrap .header .search .search--input:hover{
  width: 40%;
}

.wrap .header .search .search--button {
  border: 2px solid red;
  border-radius: 15px;
  width: 7%;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.wrap .header .search .search--result {
  position: absolute;
  width: 100%;
  bottom: -50px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
/* .wrap .loading {
  opacity: 0.7;
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.wrap .loading .loading1,
.wrap .loading .loading2,
.wrap .loading .loading3,
.wrap .loading .loading4,
.wrap .loading .loading5 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  background-color: red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin: .5rem;
}

.wrap .loading .loading1 {
  animation-delay: 0s;
}

.wrap .loading .loading2 {
  animation-delay: 0.2s;
}

.wrap .loading .loading3 {
  animation-delay: 0.4s;
}

.wrap .loading .loading4 {
  animation-delay: 0.6s;
}

.wrap .loading .loading5 {
  animation-delay: 0.8s;
} */

.wrap .movies{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
  height: 100%;
  background-color: aliceblue;
}
  

